.about-image {
    width: 100%;
    padding: 1em 0 ;
}

.about-image img {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

#about{
    background-color: #050743;
    padding-bottom: 3em;
    text-align: center;
}

@media(min-width: 769px){
    #about{
        background-color: #b799ff;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .about-image {
        width: 50%;
        background-color: #e8e8e8;
    }

    .about-image img {
        width: 90%;
        height: auto;
    }

    #about p{
        width: 50%;
        margin: 0;
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .highlighted {
        width: 100%;
        display: flex;
        background-color: #b799ff;
        align-items: center;
        justify-items: center;
    }

    .non-highlighted{
        display: flex;
    }
}

@media(min-width: 1000px){
    #about{
        width: 50%;
        left: 50%;
        background-color: #050743;
    }

    .about-content {
        display: block;
    }

    .highlighted {
        background-color: #050743;
        width: 100%;
    }

    .non-highlighted{
        display: block;
        width: 100%;
    }

    .about-image {
        display: none;
    }

    #about p{
        width: 100%;
        margin: 0;
        text-align: left;
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 0.5em 2.5em 0.5em 0;
    }
}