footer{
    background-color: #b799ff;
    height: 10dvh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 100;
    color: #e8e8e8;
    position: relative;
}

@media (min-width: 769px) {
    footer {
        position: sticky;
        top: 90dvh;
        z-index: 1000;
    }
}