*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden !important;
}

body {
    font-family: 'Fira Code', sans-serif;
    background-color: #050743;
    color: #f1f1f1;
}

body.menu-open {
    overflow-y: hidden;
}

/* Hide default scrollbar - bike animation serves as scroll indicator */
::-webkit-scrollbar {
    width: 0px;
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Firefox scrollbar */
* {
    scrollbar-width: none;
}
/* #endregion */

/* Parallax */
.parallax-container {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10px;
}
