header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    transform-style: preserve-3d;
    z-index: -1;
    text-align: center;
}

.profile-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateZ(-10px) scale(2);
    z-index: -1;
}

.header-content {
    color: #f1f1f1;
    padding: 2em;
    background-color: #b799ff;
    width: 100%;
    height: 40dvh;
    margin-top: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
}

.header-content h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: .5em;
}

.header-content h2{
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 1em;
}

.cta{
    text-decoration: none;
    background-color: #a2faa3;
    color: #050743;
    padding: 1em 1.5em;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
    font-size: 1em;
    transition: all 0.3s ease;
}

@media(min-width: 769px){
    header{
        position: sticky;
        top: 70px; /* Stop below the navbar */
        height: 100dvh; 
        max-height: 100dvh;
        z-index: 1;
        padding: 0;
    }

    .profile-image {
        position: absolute;
        left: -100px;
        bottom: -70px;
        height: 80%;
        width: auto;
        transform: none;
    }

    .header-content {
        position: absolute;
        background-color: transparent;
        width: 60%;
        right: 0;
        height: 40dvh;
        margin-top: 20dvh;
    }

    .header-content h1{
        font-size: 3rem;
        padding-top: .5em;
    }

    .header-content h2{
        font-size: 1.5rem;
        padding-bottom: 1.5em;
    }

    .cta{
        font-size: 1.2em;
    }
}

@media (min-width: 1000px){
    .profile-image {
        left: 10%;
    }

    .cta:hover{
        color: #e26060;
    }
}