section {
    position: relative;
    z-index: 1;
    padding-top: 60px;
}

section h2 {
    font-size: 2.5em;
    padding: 1em 0 0.5em 0;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 1.5em;
}

section h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background:  #e8e8e8;
    border-radius: 3px;
}
section p {
    padding: 1.5em 3em;
    line-height: 1.8;
    font-size: 1.1em;
    max-width: 800px;
    margin: 0 auto;
    color: #e8e8e8;
    font-weight: 300;
    letter-spacing: 0.3px;
}

@media(min-width: 769px){
    section{
        position: sticky;
        top: 70px; /* Stop below the navbar */
        height: 100dvh; 
        max-height: 100dvh;
        z-index: 1;
        padding: 0;
    }

    .section-header{
        min-height: 15dvh;
        max-height: 20dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-header h2{
        margin-bottom: 2rem;
    }

    .section-body {
        min-height: 50dvh;
        max-height: 85dvh;
        overflow-y: hidden;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
